.nav-header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  list-style: none;
  background-color: rgb(107, 67, 41);
  align-items: center;
}

.nav-header a {
  color: white;
}
.form-add {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.table-player {
  width: 600px;
}
.container-tab {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
